<template>
  <div id="app">
    <b-container class="col-5">
      <b-input-group>
        <b-form-input v-model="inputName"></b-form-input>
        <b-input-group-append>
          <b-button v-on:click="greet" variant="outline-primary">
            <font-awesome-icon icon="check"/>挨拶
          </b-button>
          <b-button v-on:click="clear" variant="outline-danger">削除</b-button>
        </b-input-group-append>
      </b-input-group>
      <b-alert variant="primary" show v-if="inputName && seen">{{displayName}}さんこんにちは</b-alert>
    </b-container>
    <div v-if="!inputName">{{clear()}}</div>
    <div v-if="!inputName">名前を入力してください</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputName: '',
      seen: false,
      displayName: '',
      setTimeID: '',
    };
  },
  methods: {
    greet() {
      this.seen = true;
      this.displayName = this.inputName;
      if (this.seen) {
        clearTimeout(this.setTimeID);
        this.setTimeID = setTimeout(() => {
          this.seen = false;
        }, 5000);
      }
    },
    clear() {
      this.seen = false;
      this.inputName = '';
    },
  },
};
</script>
